#calendar {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  border: 1.5px solid #ddd;
  padding: 8px;
  font-weight: 600;
}

#calendar th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

#calendar .days {
  height: 80px;
  text-align: center;
}

#calendar .weekend {
  color: red;
}

#calendar .weekend:hover,
.workday:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

#calendar .blank,
.blank:hover {
  cursor: inherit !important;
  background-color: #ddd !important;
}
